<link rel="stylesheet" href="../css/mybookshelf.css">
<div class="container">
  <div class="col-md-6 col-lg-6">
    
    <div class="section">
      <h2><i class="fa fa-plus-square" aria-hidden="true"></i> Add Books.</h2>
      <form method="post" action="/users/mybookshelf/books">
        <div class="form-group">
          <label>Provide a book title to add a book to your library.</label>
          {{#if error_msg}}
          <div class="error">
            <strong>Error: {{error_msg}}</strong>
          </div>
          {{/if}}
          {{#if success_msg}}
            <div class="success">
                {{success_msg}}
            </div>
          {{/if}}
          <input type="text" class="form-control" placeholder="Book title" name="bookTitle">
        </div>
        <button type="submit" class="btn btn-success">Add book</button>
      </form>
    </div>
    
    <div class="section-header">
      <h2 id="white-text">My Book Collection</h2>
    </div>
    
    <div class="section collection">
        {{#each myBooks}}
          <div class="book-item" id={{this.id}}>
            <img src={{this.thumbnail}} alt="Book cover image">
            <div class="book-desc">
              <em>{{this.title}}</em><br>
              by {{this.author}} <br>
            </div>
            
            <button type="button" class="btn btn-danger" onclick="removeBook({{convertjson this.id}})">Remove</button>
          </div>
        {{/each}}
    </div>
    
  </div>
  
  <div class="col-md-6 col-lg-6">
    <div class="section">
      <h2><i class="fa fa-inbox" aria-hidden="true"></i> Trade Requests</h2>
    </div>
    
    <div class="section">
      <h2><i class="fa fa-share-square" aria-hidden="true"></i> Sent Requests</h2>
    </div>
  </div>
</div>

<script type="text/javascript" src="../javascript/mybookshelf.js"></script>