<link rel="stylesheet" href="../css/mybookshelf.css">
<div class="container">
  <div class="col-md-6 col-lg-6">
    
    <div class="section">
      <h2><i class="fa fa-plus-square" aria-hidden="true"></i> Add Books.</h2>
      <form method="post" action="/users/mybookshelf/books">
        <div class="form-group">
          <label>Provide a book title to add a book to your library.</label>
          {{#if error_msg}}
          <div class="error">
            <strong>Error: {{error_msg}}</strong>
          </div>
          {{/if}}
          {{#if success_msg}}
            <div class="success">
                {{success_msg}}
            </div>
          {{/if}}
          <input type="text" class="form-control" placeholder="Book title" name="bookTitle">
        </div>
        <button type="submit" class="btn btn-success">Add book</button>
      </form>
    </div>
    
    <div class="section-header">
      <h2 id="white-text">My Book Collection</h2>
    </div>
    
    <div class="section collection">
        {{#each myBooks}}
          <div class="book-item" id={{this.id}}>
            <img src={{this.thumbnail}} alt="Book cover image">
            <div class="book-desc">
              <em>{{this.title}}</em><br>
              by {{this.author}} <br>
            </div>
            
            <button type="button" class="btn btn-danger" onclick="removeBook({{convertjson this.id}})">Remove</button>
          </div>
        {{/each}}
    </div>
    
  </div>
  
  <div class="col-md-6 col-lg-6">
    <div class="section">
      <h2><i class="fa fa-inbox" aria-hidden="true"></i> Received Requests</h2>
      {{#each receivedRequests}}
        <div class="trade-item">
          <p><strong>Book offered:</strong> <em>{{this.sentBook.title}}</em> by {{this.sentBook.author}}</p>
          <p><strong>Book asking:</strong> <em>{{this.askingBook.title}}</em> by {{this.askingBook.author}}</p>
          <p><strong>Sent from:</strong> {{this.sentFrom.username}}</p>
          <p><strong>Date of proposal: </strong></p>
          <form class="invisible-form" action="/users/accept-trade" method="post">
            <input name="tradeId" value="{{this._id}}">
            <button type="button" class="btn btn-primary" name="button">Accept trade</button>
          </form>
          
          <form class="invisible-form" action="/users/decline-trade" method="post">
            <input name="tradeId" value="{{this._id}}">
            <button type="button" class="btn btn-warning" name="button">Decline trade</button>
          </form>
        </div>
      {{/each}}
    </div>
    
    <div class="section">
      <h2><i class="fa fa-share-square" aria-hidden="true"></i> Sent Requests</h2>
      {{#each sentRequests}}
        <div class="trade-item">
          <p><strong>Book offered:</strong> <em>{{this.sentBook.title}}</em> by {{this.sentBook.author}}</p>
          <p><strong>Book asking:</strong> <em>{{this.askingBook.title}}</em> by {{this.askingBook.author}}</p>
          <p><strong>Sent to:</strong> {{this.sentTo.username}}</p>
          <p><strong>Date of proposal: </strong></p>
        </div>
      {{/each}}
    </div>
    
    <div class="section">
      <h2><i class="fa fa-check-square" aria-hidden="true"></i> Accepted Requests</h2>
      {{#each acceptedRequests}}
        <div class="trade-item">
          <p><strong>Book offered:</strong> <em>{{this.sentBook.title}}</em> by {{this.sentBook.author}}</p>
          <p>Book asking: <em>{{this.askingBook.title}}</em> by {{this.askingBook.author}}</p>
          <p>Sent to: {{this.sentTo.username}}</p>
          <p>Sent from: {{this.sentFrom.username}}</p>
          <p><strong>Date of proposal: </strong></p>
        </div>
      {{/each}}
    </div>
    
    <div class="section">
      <h2><i class="fa fa-frown-o" aria-hidden="true"></i> Declined Requests</h2>
      {{#each declinedRequests}}
        <div class="trade-item">
          <p>Book offered: <em>{{this.sentBook.title}}</em> by {{this.sentBook.author}}</p>
          <p>Book asking: <em>{{this.askingBook.title}}</em> by {{this.askingBook.author}}</p>
          <p>Sent to: {{this.sentTo.username}}</p>
          <p>Sent from: {{this.sentFrom.username}}</p>
          <p><strong>Date of proposal: </strong></p>
        </div>
      {{/each}}
    </div>
  </div>
</div>

<script type="text/javascript" src="../javascript/mybookshelf.js"></script>