<link rel="stylesheet" href="../css/explore.css">
<link rel="stylesheet" href="../css/public-profile.css">
<div class="container">
  <div class="col-md-6 col-lg-6">
    <div class="section">
      <h3>Username: {{user.username}}</h3>
      <h3>Full name: {{user.fullName.firstName}} {{user.fullName.lastName}}</h3>
      <h3>Location: {{user.city}}, {{user.state}}</h3>
    </div>
  </div>
  
  <div class="col-md-6 col-lg-6">
    <div class="section">
      <h2>About me</h2>
      <p>{{user.bio}}</p>
    </div>
  </div>
  
  <div class="col-md-12">
    <div class="section">
      <h1>{{user.username}}'s bookshelf</h1>
        {{#each user.books}}
          <div class="book-item" id={{this.id}}>
            <div class="book-container">
              <img src={{this.thumbnail}} alt="Book cover image">
              <div class="book-desc">
                <em>{{this.title}}</em><br>
                by {{this.author}} <br>
              </div>
              <!-- propose-trade button with hidden form values. -->
              <form class="propose-form" action="/users/trade/propose-trade/create" method="post">
                <input type="text" name="selectedBook" value="{{convertjson this.id}}">
                <button type="submit" class="btn btn-primary">Propose trade</button>
              </form>
            </div>
          </div>
        {{/each}}
    </div>
  </div>
  
</div>